swayosd/colors.css
hypr/base/colors.conf
hypr/user/*
wallpapers/*
profile_picture.jpg
styles/*
quickshell/theme/*
kitty/colors-kitty.conf

!wallpapers/.gitkeep
!hypr/user/.gitkeep
!styles/.gitkeep
!quickshell/theme/.gitkeep
